<div class="card" style="margin-left: 5px;">
    <div class="card-header" >
    <h3 style = "font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:30px;"><a class="link" href="/post/{{id}}">{{title}}</a></h3>
    </div>
    <div style="margin-left: 5px;">
    <p>Posted by {{user.username}} on {{format_date created_at}}</p>
        <p class="card-body">{{content}}</p>
    </div>
</div>